-
  name: Deploy a web applicationi
  hosts: db_and_web_server1, db_and_web_server2
  vars:
    db_name: employee_db
    db_user: db_user
    db_password: Passw0rd
  tasks:
    - name: Install dependencies
      apt: name={{ item }} state=present
      with_items:
        - python
        - python-setuptools
        - python-dev
        - build-essential
        - python-pip
        - python-mysqldb
    - include: tasks/deploy_db.yml
    - include: tasks/deploy_web.yml

